---
// Editorial masthead — reads like a magazine top of page
---

<div class="masthead">
  <div class="mast-block">
    MUHAMMAD SALMAN<br />
    <span class="dim">PORTFOLIO &nbsp;/&nbsp; MMXXVI</span>
  </div>
  <div class="mast-block mast-right">
    30.7°N &nbsp; 76.7°E<br />
    <span class="dim">PUNJAB &nbsp;·&nbsp; INDIA</span>
  </div>
</div>
